<header>
  <div class="container text-right tb-padding">
    <form role="form" action="/authentication/signin" method="get">
  		<button class="nav-btn" type="submit" value="Send">Admin</button>
  	</form>
  </div>
  <div class="jumbotron">
    <div class="container text-center">
  		<img src="modules/core/client/img/brand/IPPD_COLOR.png" class="logo" height="100px" width="300px" alt="IPPD Logo">
  		<p><em>Design Review Feedback</em></p>
    	<form role="form" action="/register" method="get">
  			<button class="btn btn-default btn-lg" type="submit" value="Send">Register</button>
  		</form>
  	</div>
  </div>
</header>

<main></main>

<footer></footer>
