<header>
  <div class="container text-right tb-padding">
    <form role="form" action="/registrants" method="get">
      <button class="nav-btn" type="submit" value="Send">Back</button>
    </form>
  </div>
  <div class="jumbotron">
    <div class="container text-center">
      <img src="modules/core/client/img/brand/IPPD_COLOR.png" class="logo" height="100px" width="300px" alt="IPPD Logo"></img>
      <p><em>Edit User</em></p>
    </div>
  </div>
</header>

<main ng-controller="RegistrantsController" ng-init="findOne()">
  <form name="registrantForm" class="form-horizontal" ng-submit="update(registrantForm.$valid)">
    <fieldset>
      <div class="container t-padding">
        <!-- Fields for editing registrant information -->
        <div class="form-group" show-errors>
          <h3>Team Name</h3>
          <input name="name" type="text" ng-model="registrant.email" id="email" class="form-control input-lg" placeholder="{{email}}" required>
          <div ng-messages="registrantForm.email.$error" role="alert">
            <p class="error-text text-danger" ng-message="required">Registrant email is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <h3>Affiliation</h3>
          <select name="affiliation" ng-options="a.theAffiliation as a.theAffiliation for a in affiliationDropdowns | orderBy: 'theAffiliation'" ng-model="registrant.affiliation" id="affiliation" class="form-control input-lg"required>
            <option></option>
          </select>
          <div ng-messages="registrantForm.affiliation.$error" role="alert">
            <p class="error-text text-danger" ng-message="required">Registrant affiliation is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <h3>Team Name</h3>
          <select name="teamName" ng-options="team.name as team.name for team in teamDropdowns | orderBy: 'name'" pre-selected="registrant.teamName" ng-model="registrant.teamName" id="teamName" class="form-control input-lg" placeholder="Team Name" ng-required='registrant.affiliation.teamAssociated===true'></select>
          <div ng-messages="registrantForm.teamName.$error" role="alert">
            <p class="error-text text-danger" ng-message="required">Registrant team name is required.</p>
          </div>
        </div>
      </div>
      <!-- Button to submit changes -->
      <div class="container t-padding">
        <div class="form-group">
          <input type="submit" class="btn btn-default btn-lg">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </div>
    </fieldset>
  </form>
</main>
