<section>
  <header>
    <div class="container text-right tb-padding">
      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
          <form role="form" action="/adminHome" method="get">
            <button class="nav-btn" type="submit" value="Send">AdminHome</button>
          </form>
        </div>
      </div>
    </div>
  	<div class="jumbotron">
  		<div class="container text-center">
  			<img src="modules/core/client/img/brand/IPPD_COLOR.png" class="logo" height="100px" width="300px" alt="IPPD Logo">
  			<p><em>Temp Page- holding for Justin's Admin manage Admin stuff</em></p>
  		</div>
  	</div>
  </header>

  <main ng-controller="RegistrantsController" ng-init="">
    <div class="container t-padding">
      <!-- When you work on this page, need to update the ng-controller and possibly ng-init from above -->
      stuff goes here. probably needs formatting once it's done.
      Probably won't be in the 'registrants' module
    </div>

 

  </main>
</section>
