<section ng-controller="RegistrantsController">

<header>
	<div class="jumbotron">
		<div class="container text-center">
			<img src="modules/core/client/img/brand/IPPD_COLOR.png" class="logo" height="100px" width="300px" alt="IPPD Logo">
			<p><em>Registration</em></p>
		</div>
	</div>
</header>

<main>
  <div class="container">
    <form name="registrantForm" class="form-horizontal" ng-submit="create(registrantForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
				  <h3> E-mail </h3>
          <input name="email" type="text" ng-model="email" id="email" class="form-control input-lg" placeholder="Email" required>
          <div ng-messages="registrantForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">E-mail required</p>
          </div>
        </div>

        <div class="form-group" show-errors>
  				<h3> Affiliation </h3>
          <select name="affiliation" ng-options="a.theAffiliation for a in affiliationDropdowns track by a.theAffiliation| orderBy: 'theAffiliation'" ng-model="affiliation" id="affiliation" class="form-control input-lg" required></select>
          <div ng-messages="registrantForm.affiliation.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Affiliation required</p>
          </div>
        </div>

        <div class="form-group" ng-show="affiliation.theAffiliation==='IPPD Student' || affiliation.theAffiliation==='IPPD Coach' || affiliation.theAffiliation==='IPPD Liaison'"show-errors>
				  <h3> Team </h3>
          <select name="teamName" ng-options="team.name for team in teamDropdowns track by team.name| orderBy: 'name'" ng-model="teamName" id="teamName" class="form-control input-lg" placeholder="Team Name" required></select>
          <div ng-messages="registrantForm.teamName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Team required</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <h3> Team Code </h3>
          <input type="text" name="teamCode" id="teamCode" class="form-control input-lg" ng-model="teamCode" placeholder="Team code" required>
          <div ng-messages="registrantForm.teamCode.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Team code required</p>
          </div>
        </div>

        <div class="form-group t-padding">
          <input type="submit" class="btn btn-default btn-lg">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>

      </fieldset>
    </form>
  </div>
</main>

<footer>
	<div class="container text-center">
		Copyright &copy 2016 4bSharksWithLasers
	</div>
</footer>
