<section>

  <header>
  	<div class="jumbotron">
  		<div class="container text-center">
  			<img src="modules/core/client/img/brand/IPPD_COLOR.png" class="logo" height="100px" width="300px" alt="IPPD Logo">
  			<p><em>Registration</em></p>
  		</div>
  	</div>
  </header>

  <main ng-controller="RegistrantsController">
    <div class="container">
      <form name="registrantForm" class="form-horizontal" ng-submit="create(registrantForm.$valid)" novalidate>
        <fieldset>
          <!-- Display text field for email input -->
          <div class="form-group" show-errors>
  				  <h3> E-mail </h3>
            <input name="email" type="email" ng-model="email" id="email" class="form-control input-lg" placeholder="Email" autocomplete='off' autofocus required>
            <div ng-messages="registrantForm.email.$error" role="alert">
              <p class="help-block error-text" ng-message="required">E-mail required</p>
              <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
            </div>
          </div>
          <!-- Display dropdwon field propagated from database with available affiliation choices -->
          <div class="form-group" show-errors>
    				<h3> Affiliation </h3>
            <select name="affiliation" id = "register-affiliation" ng-options="a.theAffiliation for a in affiliationDropdowns | orderBy: 'theAffiliation'" ng-model="affiliation" id="affiliation" class="form-control input-lg" required></select>
            <div ng-messages="registrantForm.affiliation.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Affiliation required</p>
            </div>
          </div>
          <!-- Button for submission of information -->
          <div class="form-group t-padding">
            <input type="submit" id="register-submit" class="btn btn-default btn-lg">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>

        </fieldset>
      </form>
    </div>
  </main>

  <footer></footer>
</section>
