<div class="row" ng-controller="RegistrantsController" ng-init="findOne()">
  <div class="col-md-offset-1 col-md-10">
    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
    <div class="jumbotron">
      <img id="loader" ng-show="loading" src="/../../img/484.gif">
      <div ng-show="registrant">
        <p>User Email: {{registrant.email}}</p>
        <p>User Affiliation: {{registrant.affiliation}}</p>
       <!--  <a class="btn btn-primary" ui-sref="teams.edit({ teamId: team._id })">
          <i class="glyphicon glyphicon-edit"></i>
          Edit
        </a> -->
        <a class="btn btn-danger" ng-click="remove(registrant);">
          <i class="glyphicon glyphicon-trash"></i>
          Remove
        </a>
      </div>
    </div>
  </div>
</div>