<header>
	<div class="jumbotron">
		<div class="container text-center">
			<img src="modules/core/client/img/brand/IPPD_COLOR.png" class="logo" height="100px" width="300px" alt="IPPD Logo">
			<p><em>Admin Login</em></p>
		</div>
	</div>
</header>

<main>
  <div class="container">
    <form role="form" action="/adminHome" method="get">
      <fieldset>

        <div class="form-group" show-errors>
				  <h3> User Name </h3>
          <input name="user" type="text" ng-model="user" id="user" class="form-control input-lg" placeholder="user name" required>
        </div>

        <div class="form-group" show-errors>
          <h3> Password </h3>
          <input type="text" name="password" id="password" class="form-control input-lg" ng-model="password" placeholder="password" required>
        </div>

        <div class="form-group t-padding">
          <button class="btn btn-default btn-lg" type="submit" value="Send">Go to Admin Home</button>
        </div>

      </fieldset>
    </form>
  </div>
</main>

<footer>
	<div class="container text-center">
		Copyright &copy 2016 4bSharksWithLasers
	</div>
</footer>
