<header>
  <div class="container text-right tb-padding">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <form role="form" action="/theme" method="get">
          <button class="nav-btn" type="submit" value="Send">Themes</button>
        </form>
      </div>
      <div class="col-md-2">
        <form role="form" action="/api/auth/signout" method="get">
          <button class="nav-btn" type="submit" value="Send">Profile</button>
        </form>
      </div>
      <div class="col-md-2">
        <form role="form" action="/api/auth/signout" method="get">
          <button class="nav-btn" type="submit" value="Send">SignOut</button>
        </form>
      </div>
    </div>
  </div>
	<div class="jumbotron">
		<div class="container text-center">
			<img src="modules/core/client/img/brand/IPPD_COLOR.png" class="logo" height="100px" width="300px" alt="IPPD Logo">
			<p><em>Admin Home</em></p>
		</div>
	</div>
</header>

<main>
  <div class="container">
    <div class="row t-padding">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <form role="form" action="/teams" method="get">
          <button class="btn btn-default btn-lg btn-block" type="submit" value="Send">Manage Teams</button>
        </form>
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="row t-padding">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <!-- need to update the route for this, once justing makes the page and adds functionality -->
        <form role="form" action="/registrants" method="get">
          <button class="btn btn-default btn-lg btn-block" type="submit" value="Send">Manage Admins</button>
        </form>
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="row t-padding">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <form role="form" action="/affiliations" method="get">
          <button class="btn btn-default btn-lg btn-block" type="submit" value="Send">Manage Affiliations</button>
        </form>
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="row t-padding">
      <div class="col-md-4"></div>
        <div class="col-md-4">
          <form role="form" action="/blankRubrics" method="get">
            <button class="btn btn-default btn-lg btn-block" type="submit" value="Send">Manage Rubrics</button>
          </form>
        </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</main>

<footer></footer>
