<section>
  <header>
    <div class="container text-right tb-padding">
      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
          <form role="form" action="/adminHome" method="get">
            <button class="nav-btn" type="submit" value="Send">AdminHome</button>
          </form>
        </div>
      </div>
    </div>
  	<div class="jumbotron">
  		<div class="container text-center">
  			<img src="modules/core/client/img/brand/IPPD_COLOR.png" class="logo" height="100px" width="300px" alt="IPPD Logo">
  			<p><em>Manage Affiliations</em></p>
  		</div>
  	</div>
  </header>

  <main ng-controller="AffiliationController" ng-init="find()">
    <!-- Success Messages -->
    <div class="t-padding" ng-show="msg" ng-click="msg=!msg">
      <div ng-show="error" class="container alert alert-danger">
        <strong ng-bind="error"></strong>
      </div>
      <div ng-show="success" class="container alert alert-success">
        <strong ng-bind="success"></strong>
      </div>
    </div>
    <!-- End Messages -->
    <div class="container t-padding">
      <div class="row">
        <div class="col-md-4">
          <form role="form" action="/addAffiliation" method="get">
            <button id="addAffiliation-button" class="btn btn-default btn-lg btn-block" type="submit" value="Send">Add Affiliation</button>
          </form>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <!--<button class="btn btn-danger btn-lg btn-block" ng-click="removeAll()">Delete All</button>-->
        </div>
      </div>
    </div>

    <div class="container t-padding">
      <div class="input-group" id="searchBar">
        <span class="input-group-addon input-lg" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" class="form-control input-lg" placeholder="Search" ng-model="query" autocomplete="off" autofocus>
      </div>
    </div>

    <div class="container t-padding">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Affiliation</h3>
        </div>
        <div class="panel-body" ng-repeat="x in affiliations | filter: query" ui-sref="affiliations.view({ affiliationId: x._id })">
          <div class="row">
            <a href="" class="a-spc">
              <div class="col-md-10"> {{ x.theAffiliation }} </div>
            </a>
            <div class="col-md-2">
              <button class="btn btn-danger btn-lg btn-block" ng-confirm-click="Click to confirm deletion." ng-click="remove(x);" >
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
