<section ng-controller="TeamController" ng-init="find()">
  <div class="page-header">
    <h1>Manage Teams</h1>
  </div>

  <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
    <div ng-show="success" class="text-success">
      <strong ng-bind="success"></strong>
    </div>
    <div class="input-group" id="searchBar">
      <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
      <input type="text" class="form-control" placeholder="Search" ng-model="query">
    </div>
    <div class="tableWrapper">
      <table class="table table-striped table-hover">
        <tr>
          <th>Team</th>
          <th>Delete</th>
          <th></th>
        </tr>
        <!-- 
          The ui-sref attribute is used by Angular UI Router to switch the state to an individual listing, 
          as specified in 'config/listings.client.routes.js'. The listing id is passed in as a parameter. 
          When a user clicks on a table row, the view will display a single listing and the state change will be
          reflected in the browser's URL. 
          -->
        <tr ng-repeat="x in teams | filter: query" ui-sref="teams.view({ teamId: x._id })">
          <td>{{x.name}}</td>
          <td>
          	<button class="btn btn-alt" ng-confirm-click="Click to confirm deletion." ng-click="remove(x);" >Delete</button>
          </td>
        </tr>
      </table>
    </div>

</section>
