<section>
  <header>
    <div class="container text-right tb-padding">
      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
          <form role="form" action="/adminHome" method="get">
            <button class="nav-btn" type="submit" value="Send">AdminHome</button>
          </form>
        </div>
      </div>
    </div>
  	<div class="jumbotron">
  		<div class="container text-center">
  			<img src="modules/core/client/img/brand/IPPD_COLOR.png" class="logo" height="100px" width="300px" alt="IPPD Logo">
  			<p><em>Manage Theme</em></p>
  		</div>
  	</div>
  </header>



	<main ng-controller="ThemeController">	
	
			<div style="padding-left:1cm;border:2px">
			<h2><b><u>Edit Site Coloring:</u></b></h2>
			
				Enter Site's Header Color Code (hexadecimal, 3 or 6 digits) : &nbsp;&nbsp;
				<input type="color" name="colorChoice" class="color" value="#eaeaea" 
				 ng-model="colorChoice" ng-change="changeColor()">
				<br><br>
				<div ng-style="myStyle" style="text-align:center;border:solid;border-width:4px;width:400px;height:250px"><b style="color:black">Header Color Preview:</b></div>
				<br>	
			    <br>
				Enter Site's Body Color Code (hexadecimal, 3 or 6 digits)   : &nbsp;&nbsp;
				<input type="color" name="colorChoice2" class="color" value="#2e2e2e" 
				 ng-model="colorChoice2" ng-change="changeColor2()" >
				<br><br>
				<div ng-style="myStyle2" style="text-align:center;border:solid;border-width:4px;width:400px;height:250px"><b>Body Color Preview:</b><br><br></div>
			
			</div>
   
     				   <br><br>
							
					<div style="padding-left:1cm">
	                <h2><b><u>Edit Site Logo:</u></b></h2>
				    <form id="form1" runat="server">
					
					<input type="file" value="Upload Image"
					id="trigger" onchange="angular.element(this).scope().setLogo(this)"
					accept="image/*" style="color:white">
					<div><br><b>New Logo Preview:</b><br></div>
					<img ng-style="myStyle" style="align:center;border:solid;border-width:4px;" ng-src="{{image_source}}" height = "100px" width = "300px">
                    
				
					</form>
					<br><br><br>					   
				   <button class="btn btn-default btn-lg" type="submit" value="Save Changes">Save Changes</button>
				   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			       <button class="btn btn-default btn-lg" type="submit" ng-click="resetLogo()">Reset Site Theme (Logo and Coloring)</button>
					</div>
					
					  <div class="form-group">
	
</section>


