<main ng-controller="ThemeController" ng-init="find()">
<div ng-style="myStyle2">
<section>
  <header>
    <div class="container text-right tb-padding">
      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
          <form role="form" action="/adminHome" method="get">
            <button class="nav-btn" type="submit" value="Send" ng-style="myStyle3">AdminHome</button>
		</form>
        </div>
      </div>
    </div>
  	<div class="jumbotron" ng-style="myStyle">
  		<div class="container text-center" >
  			<img ng-src="{{image_source}}" class="logo" height="100px" width="300px" alt="IPPD Logo">
  			<p><em>Manage Theme</em></p>
  		</div>
  	</div>
  </header>
	
			<div ng-style="myStyle3">
			<div style="padding-left:1cm;border:2px">
			<h2><b><u>Edit Site Coloring:</u></b></h2>			
				Choose a new header color : &nbsp;&nbsp;
				<input type="color" ng-model="colorChoice" ng-change="changeColor()">
				<br>	
			    <br>
				Choose a new body color : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="color" ng-model="colorChoice2" ng-change="changeColor2()" >
				<br>	
			    <br>
				Choose a new font color : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="color" ng-model="colorChoice3" ng-change="changeColor3()" >
				<br>	
			    <br>
				Header Color Value : {{colorChoice}}
				<br>
				Body Color Value: &nbsp;&nbsp; {{colorChoice2}}
				<br>
				Font Color Value: &nbsp;&nbsp; {{colorChoice3}}	
				
     				   <br><br>
		
	        <h2><b><u>Edit Site Logo:</u></b></h2>
				    <form id="form1" runat="server">
					
					<input type="file" value="Upload Image"
					id="trigger" onchange="angular.element(this).scope().setLogo(this)"
					accept="image/*" style="color:white">
				
					</form>
					<br><br><br>			
					<button class="btn btn-default btn-lg" type="submit" ng-click="changeTheme(colorChoice, colorChoice2, colorChoice3)">Save Changes</button>
					<br><br>
			       <button class="btn btn-default btn-lg" type="submit" ng-click="resetLogo()">Reset Site Theme (Logo and Coloring)</button>

		  <div ng-repeat="x in themes">
          
            
              <div class="col-md-10"> {{ x.headerColor }} </div>
            
             
        </div>

					</div>				
			</div>
			
			
</section>
</div>


