<section ng-controller="BlankRubricController">
  <div class="page-header">
    <h1>Add Rubric</h1>
  </div>
  <div class="col-md-12">
    <form name="blankRubricForm" class="form-horizontal" ng-submit="create(blankRubricForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="presentationType">Presentation Type</label>
          <input name="presentationType" type="text" ng-model="presentationType" id="presentationType" class="form-control" placeholder="Presentation Type" required>
          <div ng-messages="blankRubricForm.presentationType.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Presentation Type is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="instructions">Instructions</label>
          <input name="instructions" type="text" ng-model="instructions" id="instructions" class="form-control" placeholder="Instructions" required>
          <div ng-messages="blankRubricForm.instructions.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Instructions are required.</p>
          </div>
        </div>
        


    <div class="container form-group t-padding">
          <div class="row">
            <div class="col-xs-10">
              <h3>Rubric Items</h3>
            </div>
          </div>
          <div class="row" ng-repeat="item in rubricItemsArray track by $index" ng-show="showRubricItem">
            <div class="col-xs-8" ng-hide="editing">
              {{ item.itemCategory }}
            </div>
            <div class="col-xs-8" ng-hide="editing">
              {{ item.description1 }}
            </div>
            <div class="col-xs-8" ng-hide="editing">
              {{ item.description2 }}
            </div>
            <div class="col-xs-8" ng-hide="editing">
              {{ item.description3 }}
            </div>

            <div ng-show="editing">
              <form>
                <div class="col-xs-8">
                  <textarea class="form-control" rows="1" ng-model="item.itemCategory" placeholder="{{item.itemCategory}}"></textarea>
                </div>
              </form>
              <form>
                <div class="col-xs-8">
                  <textarea class="form-control" rows="1" ng-model="item.description1" placeholder="{{item.description1}}"></textarea>
                </div>
              </form>
              <form>
                <div class="col-xs-8">
                  <textarea class="form-control" rows="1" ng-model="item.description2" placeholder="{{item.description2}}"></textarea>
                </div>
              </form>
              <form>
                <div class="col-xs-8">
                  <textarea class="form-control" rows="1" ng-model="item.description3" placeholder="{{item.description3}}"></textarea>
                </div>
              </form>
                <div class="col-xs-1 text-center" ng-click="editing = false">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </div>
            </div>




            <a class="a-spc" href="" ng-click="rmvRubricItem(item)" ng-model-instant>
              <div class="col-xs-2 text-center">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              </div>
            </a>

            <a class="a-spc" href="" >
              <div class="col-xs-1 text-center">
                <span class="glyphicon glyphicon-edit" aria-hidden="true" ng-click="editing = true"></span>
              </div>
            </a>

          </div>

          <br/>

          <div class="row">
            <form>
              <div class="col-xs-8">
                <textarea class="form-control" rows="1" ng-model="itemCategory" placeholder="Rubric Item"></textarea>
              </div>
              <div class="col-xs-8">
                <textarea class="form-control" rows="1" ng-model="description1" placeholder="Rating 1 Description"></textarea>
              </div>
              <div class="col-xs-8">
                <textarea class="form-control" rows="1" ng-model="description2" placeholder="Rating 3 Description"></textarea>
              </div>
              <div class="col-xs-8">
                <textarea class="form-control" rows="1" ng-model="description3" placeholder="Rating 5 Description"></textarea>
              </div>
              <a class="a-spc" href="" ng-click="addRubricItem()" ng-model-instant>
                <div class="col-xs-2 text-center">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </div>
              </a>
            </form>
          </div>
      </div>

    <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>

  </div>
</section>
