<div class="row" ng-controller="BlankRubricController" ng-init="findOne()">
  <div class="col-md-offset-1 col-md-10 formWrapper">
    <div class="page-header">
      <h3>Edit a Rubric</h3>
      <form name="blankRubricForm" class="form-horizontal" ng-submit="update(blankRubricForm.$valid)">
        <fieldset>
        <div class="form-group" show-errors>
          <label for="presentationType">Presentation Type</label>
          <input name="presentationType" type="text" ng-model="blankRubric.presentationType" id="name" class="form-control" placeholder="{{presentationType}}" required>
          <div ng-messages="blankRubricForm.presentationType.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Presentation Type is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="instructions">Instructions</label>
          <input name="instructions" type="text" ng-model="blankRubric.instructions" id="instructions" class="form-control" placeholder="{{instructions}}" required>
          <div ng-messages="blankRubricForm.instructions.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Instructions are required.</p>
          </div>
        </div>

        <div class="container form-group t-padding">
          <div class="row">
            <div class="col-xs-10">
              <h3>Rubric Items</h3>
            </div>
          </div>
          <div class="row" ng-repeat="item in blankRubric.ratedItems">
            <div class="col-xs-8" ng-hide="editing">
              {{ item.itemCategory }}
            </div>
            <div class="col-xs-8" ng-hide="editing">
              {{ item.description1 }}
            </div>
            <div class="col-xs-8" ng-hide="editing">
              {{ item.description2 }}
            </div>
            <div class="col-xs-8" ng-hide="editing">
              {{ item.description3 }}
            </div>

            <div ng-show="editing">
                <!-- <div class="col-xs-8">
                  <textarea class="form-control" rows="1" ng-model="item.itemCategory" placeholder="{{item.itemCategory}}"></textarea>
                </div>
  
                <div class="col-xs-8">
                  <textarea class="form-control" rows="1" ng-model="item.description1" placeholder="{{item.description1}}"></textarea>
                </div>
              
                <div class="col-xs-8">
                  <textarea class="form-control" rows="1" ng-model="item.description2" placeholder="{{item.description2}}"></textarea>
                </div>
             
                <div class="col-xs-8">
                  <textarea class="form-control" rows="1" ng-model="item.description3" placeholder="{{item.description3}}"></textarea>
                </div> -->

                <div class="col-xs-8 form-group" show-errors>
                  <input name="item.itemCategory" type="text" ng-model="item.itemCategory" id="item.itemCategory" class="form-control" placeholder="{{item.itemCategory}}" required></input>
                  <div ng-messages="blankRubricForm.item.itemCategory.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Item Category is required.</p>
                  </div>
                </div>

                <div class="col-xs-8 form-group" show-errors>
                  <input name="item.description1" type="text" ng-model="item.description1" id="item.description1" class="form-control" placeholder="{{item.description1}}" required></input>
                  <div ng-messages="blankRubricForm.item.description1.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Description is required.</p>
                  </div>
                </div>

                <div class="col-xs-8 form-group" show-errors>
                  <input name="item.description2" type="text" ng-model="item.description2" id="item.description2" class="form-control" placeholder="{{item.description2}}" required></input>
                  <div ng-messages="blankRubricForm.item.description2.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Description is required.</p>
                  </div>
                </div>

                <div class="col-xs-8 form-group" show-errors>
                  <input name="item.description3" type="text" ng-model="item.description3" id="item.description3" class="form-control" placeholder="{{item.description3}}" required></input>
                  <div ng-messages="blankRubricForm.item.description3.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Description is required.</p>
                  </div>
                </div>
              
                <div class="col-xs-1 text-center" ng-show="!editItemCheckArray(item, blankRubric.ratedItems)" ng-click="editing = false">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </div>
                <div class="col-xs-8" ng-if="editItemCheckArray(item, blankRubric.ratedItems)">
                  <h5>Please complete all four fields before adding a rubric item.</h5>
                </div>
            </div>

            <a class="a-spc" href="" ng-click="rmvRubricItemArray(item, blankRubric.ratedItems)" ng-model-instant>
              <div class="col-xs-2 text-center">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              </div>
            </a>

            <a class="a-spc" href="" >
              <div class="col-xs-1 text-center">
                <span class="glyphicon glyphicon-edit" aria-hidden="true" ng-click="editing = true"></span>
              </div>
            </a>

          </div>

          <br/>

          <div class="col-xs-10">
              <h3>Add a Rubric Item</h3>
          </div>
          <div class="row">
              <div class="col-xs-8">
                <textarea class="form-control" rows="1" ng-model="itemCategory" placeholder="Rubric Item"></textarea>
              </div>
              <div class="col-xs-8">
                <textarea class="form-control" rows="1" ng-model="description1" placeholder="Rating 1 Description"></textarea>
              </div>
              <div class="col-xs-8">
                <textarea class="form-control" rows="1" ng-model="description2" placeholder="Rating 3 Description"></textarea>
              </div>
              <div class="col-xs-8">
                <textarea class="form-control" rows="1" ng-model="description3" placeholder="Rating 5 Description"></textarea>
              </div>
              <a class="a-spc" href="" ng-click="addRubricItemArray(blankRubric.ratedItems)" ng-model-instant>
                <div class="col-xs-2 text-center">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </div>
              </a>
              <div class="col-xs-8" ng-show="rubricItemError">
                <h5>Please complete all four fields before adding a rubric item.</h5>
              </div>
          </div>
      </div>
         
      
          <div class="form-group">
            <input type="submit" class="btn btn-default">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>