<div class="row" ng-controller="BlankRubricController" ng-init="findOne()">
  <div class="col-md-offset-1 col-md-10 formWrapper">
    <div class="page-header">
      <h3>Edit a Rubric</h3>
      <form name="blankRubricForm" class="form-horizontal" ng-submit="update(blankRubricForm.$valid)">
        <fieldset>
        <div class="form-group" show-errors>
          <label for="presentationType">Presentation Type</label>
          <input name="presentationType" type="text" ng-model="blankRubric.presentationType" id="name" class="form-control" placeholder="{{presentationType}}" required>
          <div ng-messages="blankRubricForm.presentationType.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Presentation Type is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="instructions">Instructions</label>
          <input name="instructions" type="text" ng-model="blankRubric.instructions" id="instructions" class="form-control" placeholder="{{instructions}}" required>
          <div ng-messages="blankRubricForm.instructions.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Instructions are required.</p>
          </div>
        </div>

        <div ng-repeat="x in blankRubric.ratedItems">

          <div class="form-group" show-errors>
            <label for="itemCategory">Item Category</label>
            <input name="itemCategory" type="text" ng-model="x.itemCategory" id="itemCategory" class="form-control" placeholder="{{itemCategory}}" required>
            <div ng-messages="blankRubricForm.itemCategory.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Item Category is required.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="description1">Rating 1 Description</label>
            <input name="description1" type="text" ng-model="x.description1" id="description1" class="form-control" placeholder="{{description1}}" required>
            <div ng-messages="blankRubricForm.description1.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Rating 1 Description is required.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="description2">Rating 3 Description</label>
            <input name="description2" type="text" ng-model="x.description2" id="description1" class="form-control" placeholder="{{description2}}" required>
            <div ng-messages="blankRubricForm.description1.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Rating 3 Description is required.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="description3">Rating 5 Description</label>
            <input name="description3" type="text" ng-model="x.description3" id="description1" class="form-control" placeholder="{{description3}}" required>
            <div ng-messages="blankRubricForm.description1.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Rating 5 Description is required.</p>
            </div>
          </div>

        </div>
         
      
          <div class="form-group">
            <input type="submit" class="btn btn-default">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>