<section ng-controller="CompletedRatingController">
  <div class="page-header">
    <h1>Review</h1>
  </div>
  <div class="col-md-12">
    <form name="completedRatingForm" class="form-horizontal" ng-submit="create(completedRatingForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="team">Team Name</label>
          <input name="team" type="text" ng-model="team" id="team" class="form-control" placeholder="Team" required>
          <div ng-messages="completedRatingForm.team.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Team name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="presentationType">Presentation Type</label>
          <input name="apresentationType" type="text" ng-model="presentationType" id="presentationType" class="form-control" placeholder="Presentation Type" required>
          <div ng-messages="completedRatingForm.presentationType.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Presentation Type is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input name="email" type="text" ng-model="email" id="email" class="form-control" placeholder="Email" required>
          <div ng-messages="completedRatingForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email is required.</p>
          </div>
        </div>
       <!--  <div class="form-group" show-errors>
          <label for="rubricItem">Rubric Item</label>
          <input name="rubricItem" type="text" ng-model="rubricItem" id="rubricItem" class="form-control" placeholder="Rubric Item">
          <div ng-messages="completedRatingForm.rubricItem.$error" role="alert"> -->
            <!-- <p class="help-block error-text" ng-message="required">Rubric Item is required.</p> -->
          <!-- </div>
        </div>
        <div class="form-group" show-errors>
          <label for="rating">Rating</label>
          <input name="rating" type="text" ng-model="rating" id="rating" class="form-control" placeholder="Rating">
          <div ng-messages="completedRatingForm.rating.$error" role="alert"> -->
            <!-- <p class="help-block error-text" ng-message="required">Rating is required.</p> -->
          <!-- </div>
        </div>
        <div class="form-group" show-errors>
          <label for="issuesIdentified">Issues Identified</label>
          <input name="issuesIdentified" type="text" ng-model="issuesIdentified" id="issuesIdentified" class="form-control" placeholder="Issued Identified">
          <div ng-messages="completedRatingForm.issuesIdentified.$error" role="alert"> -->
           <!--  <p class="help-block error-text" ng-message="required">Issues Identified is required.</p> -->
        <!--   </div>
        </div>
        <div class="form-group" show-errors>
          <label for="recommendedActions">Recommended Actions</label>
          <input name="recommendedActions" type="text" ng-model="recommendedActions" id="recommendedActions" class="form-control" placeholder="Recommended Actions">
          <div ng-messages="completedRatingForm.recommendedActions.$error" role="alert"> -->
           <!--  <p class="help-block error-text" ng-message="required">Recommended Actions is required.</p> -->
<!--           </div>
        </div>
        <div class="form-group" show-errors>
          <label for="urgency">Urgency</label>
          <input name="urgency" type="text" ng-model="urgency" id="urgency" class="form-control" placeholder="Urgency">
          <div ng-messages="completedRatingForm.urgency.$error" role="alert"> -->
            <!-- <p class="help-block error-text" ng-message="required">Urgency is required.</p> -->
         <!--  </div>
        </div> -->
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
