<section>

  <header>
  	<div class="jumbotron">
  		<div class="container text-center">
  			<img src="modules/core/client/img/brand/IPPD_COLOR.png" class="logo" height="100px" width="300px" alt="IPPD Logo"></img>
  			<p><em>Review</em></p>
  		</div>
  	</div>
  </header>

  <main ng-controller="CompletedRatingController" ng-init="findOneBlankRubric()">
    <div ng-init="initializeArrays(blankRubric.ratedItems.length)"></div>

    <form name="completedRatingForm" class="form-horizontal" ng-submit="create(completedRatingForm.$valid)" novalidate>
      <fieldset>
      <!-- Displays preview of completed review prior to final submission -->
      <div ng-show="previewRubricSubmission">
        <div class="container">
          <h3>Team Name: {{ forwarded_team }}</h3>
          <h3>Presentation Type: {{ forwarded_presentation }}</h3>
          <h3>Reviewer Email: {{ forwarded_email }}</h3>
          <h3>Rubric Items</h3>
          <div ng-repeat="x in blankRubric.ratedItems">{{ x.itemCategory }} : {{ rating[$index] }}</div>
          <h3>Issues Identified</h3>
          {{ issuesIdentified }}
          <h3>Recommended Actions</h3>
          <div ng-repeat="item in recommendations track by $index">{{ item.recommendation }} : {{ item.urgency?'urgent':'not urgent' }}</div>
        </div>
      </div>
      <!-- Displays choices made on the registration and presentationSelection pages -->
      <div ng-show="!previewRubricSubmission">
        <div class="container">
          <div class="container r-padding">
            <div class="form-group"><h3>Team Name: {{ forwarded_team }}</h3></div>
            <div class="form-group"><h3>Presentation Type: {{ forwarded_presentation }}</h3></div>
            <div class="form-group"><h3>Reviewer Email: {{ forwarded_email }}</h3></div>
          </div>
        </div>
        <!-- Displays rubric items -->
        <div class="container t-padding">
          <h3>Rubric</h3>
          <div ng-repeat="x in blankRubric.ratedItems" class="panel panel-default">
            <a href="" class="a-spc">
              <div class="panel-heading">
                <div class="row">
                  <!-- Rubric item title -->
                  <div class = "col-xs-5" ng-click="showDescription=!showDescription">{{ x.itemCategory }}</div>
                  <!-- Clickable stars for choosing the rating of the rubric item -->
                  <div class="col-xs-7" >
                      <span class="glyphicon glyphicon-star rating pull-right" style="color: {{ star[$index].colorFive }}" ng-click="changeFive($index, x.itemCategory)" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-star rating pull-right" style="color: {{ star[$index].colorFour }}" ng-click="changeFour($index, x.itemCategory)" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-star rating pull-right" style="color: {{ star[$index].colorThree }}" ng-click="changeThree($index, x.itemCategory)" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-star rating pull-right" style="color: {{ star[$index].colorTwo }}" ng-click="changeTwo($index, x.itemCategory)" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-star rating pull-right" style="color: {{ star[$index].colorOne }}" ng-click="changeOne($index, x.itemCategory)" aria-hidden="true"></span>
                  </div>
                </div>
              </div>
            </a>

            <div ng-show="showDescription">
              <div class="panel-body"  ng-init="initializeArrays($index)">
                <div class="row">
                  <!-- Description of what is required to earn 5 stars on a rubric item -->
                  <div class="col-xs-7"><em>{{ x.description1 }}</em></div>
                  <div class="col-xs-5">
                    <span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
                  </div>
                </div>
              </div>

              <div class="panel-body">
                <div class="row">
                  <!-- Description of what is required to earn 3 stars on a rubric item -->
                  <div class="col-xs-7"><em>{{ x.description2 }}</em></div>
                  <div class="col-xs-5">
                    <span class="glyphicon glyphicon-star-empty pull-right" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty pull-right" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
                  </div>
                </div>
              </div>

              <div class="panel-body">
                <div class="row">
                  <!-- Description of what is required to earn 1 star on a rubric item -->
                  <div class="col-xs-7"><em>{{ x.description3 }}</em></div>
                  <div class="col-xs-5">
                    <span class="glyphicon glyphicon-star-empty pull-right" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty pull-right" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty pull-right" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty pull-right" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Empty text box for listing identified issues -->
        <div class="container">
          <div class="container r-padding">
              <div class ="form-group t-padding">
              <h3>Issues Identified</h3>
              <textarea name="issuesIdentified" type="text" rows="5" ng-model="issuesIdentified" id="issuesIdentified" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <!-- Item by item list of recommended actions to take -->
        <div class="container t-padding">
          <div class="row">
            <div class="col-xs-9">
              <h3>Recommendations</h3>
              <h5>Check box to indicate urgency<h5>
            </div>
          </div>
          <!-- Display recommendations added to list -->
          <div class="row" ng-repeat="item in recommendations track by $index" ng-show="showRecommendation">
            <div class="col-xs-10" ng-hide="editing"><h4> {{ item.recommendation }} </h4></div>
            <div ng-show="editing">
              <form>
                <div class="col-xs-10 b-padding-row">
                  <textarea class="form-control" rows="1" ng-model="item.recommendation" placeholder="{{item.recommendation}}"></textarea>
                </div>
              </form>
            </div>

            <a class="a-spc" href="">
              <div class="col-xs-1 text-center">
                <span class="glyphicon glyphicon-pencil" title="Edit this item" aria-hidden="true" ng-show="!editing" ng-click="editing=true"></span>
                <div ng-show="editing">
                  <span class="glyphicon glyphicon-ok" title="Accept this change" aria-hidden="true" ng-show="!editItemCheck($index)" ng-click="editing = false"></span>
                </div>
              </div>
            </a>

            <div class="col-xs-10" ng-if="editItemCheck($index)"><h4>Please enter text or remove recommendation.</h4></div>

            <div class="col-xs-1 text-center">
              <a class="a-spc" href="" ng-click="rmvRecommendation(item)">
                <div>
                  <span class="glyphicon glyphicon-minus" title="Remove this item" aria-hidden="true" ng-show="editing"></span>
                </div>
              </a>
              <a class="a-spc" href="" ng-click="setUrgent($index)">
                <div ng-show="!editing">
                  <span class="glyphicon glyphicon-unchecked" title="Click if this item is urgent" aria-hidden="true" ng-show="!item.urgency"></span>
                  <span class="glyphicon glyphicon-check" title="Click if this item is not urgent" aria-hidden="true" ng-show="item.urgency"></span>
                </div>
              </a>
            </div>
          </div>

          <div class="row">
            <form>
              <div class="col-xs-10">
                <textarea class="form-control" rows="1" ng-model="recommendationText"></textarea>
              </div>
              <div class="col-xs-1"></div>
              <a class="a-spc" href="" ng-click="addRecommendation($index)" ng-model-instant>
                <div class="col-xs-1 text-center">
                  <span class="glyphicon glyphicon-plus" title="Add item to recommendations" aria-hidden="true"></span>
                </div>
              </a>
              <div class="col-xs-8" ng-show="recommendationError"><h4>Please enter text before adding a recommendation.</h4></div>
            </form>
          </div>
        </div>
      </div>

        <!-- Submit button visible on rubric preview view -->
        <div ng-show="previewRubricSubmission">
          <div class="container t-padding">
              <input type="submit" class="btn btn-lg btn-default">
            <div ng-show="error" class="text-danger">
              <strong ng-bind="error"></strong>
            </div>
          </div>
        </div>

      </fieldset>
    </form>

    <div class="container t-padding">
      <!-- Edit button visible on rubric preview view -->
      <div ng-show="previewRubricSubmission">
        <button ng-click="togglePreviewSubmission()" class="btn btn-lg btn-default">Edit Submission</button>
      </div>
      <!-- Preview button visible on rubric view -->
      <div ng-show="!previewRubricSubmission">
        <button ng-click="togglePreviewSubmission()" class="btn btn-lg btn-default">Preview Submission</button>
      </div>
    </div>
  </main>
</section>
