<header>
	<div class="jumbotron">
		<div class="container text-center">
			<img src="../Client/Assets/Images/IPPD_COLOR.png" class="logo" height="100px" width="300px" alt="IPPD Logo">
			<p><em>Design Review Feedback</em></p>
		</div>
	</div>
</header>

<main ng-controller="ReviewController">
	<div class="container text-center border" ng-repeat="item in session">
		<h3>{{ item.team }}: {{ item.type }}</h3>
	</div>

	<div class="container t-padding">
		<h3>Rubric</h3>
		<div class="panel panel-default" ng-repeat="item in u track by $index">
			<a href="" class="a-spc">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-5" ng-click="showDescription=!showDescription">
							{{ item[0].subject }} - {{ item[1].rating }}
						</div>
						<div class="col-xs-7">
							<span class="glyphicon glyphicon-star rating pull-right" style="color: {{ item[2].colorFive }}" ng-click="changeFive($index)" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star rating pull-right" style="color: {{ item[2].colorFour }}" ng-click="changeFour($index)" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star rating pull-right" style="color: {{ item[2].colorThree }}" ng-click="changeThree($index)" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star rating pull-right" style="color: {{ item[2].colorTwo }}" ng-click="changeTwo($index)" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star rating pull-right" style="color: {{ item[2].colorOne }}" ng-click="changeOne($index)" aria-hidden="true"></span>
						</div>
					</div>
				</div>
			</a>
			<div ng-show="showDescription">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-7">
							<em>{{ item[0].five }}</em>
						</div>
						<div class="col-xs-5">
							<span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-7">
							<em>{{ item[0].three }}</em>
						</div>
						<div class="col-xs-5">
							<span class="glyphicon glyphicon-star-empty pull-right" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star-empty pull-right" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-7">
							<em>{{ item[0].one }}</em>
						</div>
						<div class="col-xs-5">
							<span class="glyphicon glyphicon-star-empty pull-right" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star-empty pull-right" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star-empty pull-right" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star-empty pull-right" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container form-group t-padding">
		<h3>Issues Identified</h3>
		<textarea class="form-control" rows="5"></textarea>
	</div>

	<div class="container form-group t-padding">
		<div class="row">
			<div class="col-xs-10">
				<h3>Recommendations</h3>
			</div>
			<div class="col-xs-2 text-center">
				<h3>Urgent?</h3>
			</div>
		</div>
		<div class="row" ng-repeat="item in recommendations track by $index" ng-show="showRecommendation">
			<div class="col-xs-8">
				{{ item.text }}
			</div>
			<a class="a-spc" href="" ng-click="rmvRecommendation($index)" ng-model-instant>
				<div class="col-xs-2 text-center">
					<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
				</div>
			</a>
			<a class="a-spc" href="">
				<div class="col-xs-2 text-center" ng-click="setUrgent($index)">
					<span class="glyphicon glyphicon-unchecked" aria-hidden="true" ng-show="!showChecked"></span>
					<span class="glyphicon glyphicon-check" aria-hidden="true" ng-show="showChecked"></span>
				</div>
			</a>
		</div>
		<div class="row">
			<form>
				<div class="col-xs-8">
					<textarea class="form-control" rows="1" ng-model="recommendationText"></textarea>
				</div>
				<a class="a-spc" href="" ng-click="addRecommendation()" ng-model-instant>
					<div class="col-xs-2 text-center">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</div>
				</a>
			</form>
		</div>
	</div>
</main>

<footer>
	<div class="container text-center">
		Copyright &copy 2016 4bSharksWithLasers
	</div>
</footer>
